:root {
    --primary-white: rgb(239, 239, 239);
    --primary-black: rgb(28, 27, 27);
    --primary-grey: rgb(106, 106, 106);
    --persian-green: rgb(62, 140, 143);
    --mint: rgba(107, 189, 153, 1);
    --celadon: rgba(174, 207, 164, 1);
    --tea-green: rgba(196, 232, 194, 1);
    --main-gradient: linear-gradient(315deg, rgba(196, 232, 194, 1), rgb(62, 140, 143));
    --letter-space: 5px;
    --line-height: 28px;
    --title-margin-bottom: 50px;
    --title-font-size: 20px;

    --box-shadow-main: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.bentota-first hr {
    margin: 30px 0;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 17px;
}

p {
    font-size: 16px;
    /* text-align: justify; */
}

@media only screen and (max-width: 800px) {
    p {
        font-size: 14px;
    }
}

/**************** bentota first section ****************/
.bentota-first {
    background-color: var(--primary-white);
}

.bentota-first-main-container{
    display: flex;
    justify-content: center;
    max-width: 1141px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    padding: 50px;
}

.bentota-first-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 600px;
    padding: 50px;
    margin: auto;
    box-sizing: border-box;
}
.bentota-first-text-container{
    text-align: justify;
}

.bentota-first-image-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 50px;
    max-width: 980px;
    justify-items: center;
    text-align: center;
    align-items: center;
    margin: auto;
}

.bentota-first-image-container>img:nth-child(2),
.bentota-first-image-container>img:nth-child(3) {
    display: none;
}

.bentota-first-image-container img {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    display: block;
}

@media only screen and (max-width: 900px) {
    .bentota-first-main-container{
        flex-direction: column;
    }

    .bentota-first-image-container {
        padding: 0;
    }

    .bentota-first-text-container{
        padding: 0 0 50px 0;
    }
}
/**************** bentota first section ****************/

/**************** bentota second section ****************/
.bentota-second {
    background-color: var(--primary-white);
    position: relative;
    transition: 0.5s;
    z-index: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.bentota-second::after {
    content: ' ';
    position: absolute;
    /* top: 0; */
    left: 50px;
    width: 50%;
    height: 500px;
    text-decoration: none;
    background: linear-gradient(315deg, rgba(196, 232, 194, 1), rgb(62, 140, 143));
    border-radius: 8px;
    transform: skewX(0deg);
    transition: 0.5s;
}

.bentota-second hr{
    background-color: var(--primary-white);
}

.bentota-second-main-container iframe{
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    display: block;
    border: none;
    box-shadow: var(--box-shadow-main);
}

.bentota-second-main-container{
    display: flex;
    gap: 50px;
    justify-content: center;
    max-width: 980px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    padding: 50px;

    z-index: 3;
    background: var(--main-gradient);
}

@supports (backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px)) {
    .bentota-second-main-container {
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(10px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }
}

.box .content {
    position: relative;
    height: 400px;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1;
    transform: 0.5s;
    color: var(--primary-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bentota-second-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

.bentota-second-first-image-container,
.bentota-second-second-image-container{
    display: none
}

@media only screen and (max-width: 1143px){
    .box .content {
        height: 200px;
    }

    
}

@media only screen and (max-width: 900px) {
    .bentota-second-main-container {
        flex-direction: column-reverse;
    }

    .bentota-second-third-image-container{
        padding: 0 50px;
    } 

    .bentota-second-text-container {
        padding: 0;
        max-width: initial;
    }

    .bentota-second::after {
       content: initial;
    }

    .bentota-second {
        background: linear-gradient(315deg, rgba(196, 232, 194, 1), rgb(62, 140, 143));
    }

    .bentota-second-main-container{
        backdrop-filter: blur(0px);
    }
}

@media only screen and (max-width: 680px) {

    .bentota-second-first-image-container,
    .bentota-second-second-image-container {
        grid-template-columns: 1fr;
    }

    .bentota-second-first-image-container-two,
    .bentota-second-second-image-container-one {
        aspect-ratio: 1/1;
    }

    .bentota-second-first-image-container img {
        max-width: 400px;
    }

    .bentota-second>div:nth-child(3),
    .bentota-second-first-image-container>img:nth-child(2) {
        display: none;
    }

    .bentota-second p {
        text-align: justify;
    }
}

/**************** bentota second section ****************/

/**************** bentota third section ****************/
.bentota-third {
    background-color: var(--primary-white);
}

.bentota-third hr {
    margin: 50px 0 50px;
}

.bentota-third-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 1120px;
    margin: auto;
    box-sizing: border-box;
}

.bentota-third-container {
    padding: 50px;
}

.bentota-third-item-container{
    display: flex;
    flex-direction: row;
    gap: 50px;
    max-width: 1120px;
    justify-content: center;
    margin: 0 auto;
}

.bentota-third-first-item-container,
.bentota-third-second-item-container,
.bentota-third-third-item-container {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 50px;
    align-items: center;
    justify-content: space-between;
    border: 3px solid var(--primary-black);
}

.bentota-third-first-item-container,
.bentota-third-second-item-container,
.bentota-third-third-item-container,
.bentota-third-first-item-container h4,
.bentota-third-second-item-container h4,
.bentota-third-third-item-container h4{
    transition: all 0.2s ease-in-out;
}

.bentota-third-first-item-container:hover,
.bentota-third-second-item-container:hover,
.bentota-third-third-item-container:hover{
    transform: scale(0.95);
    border-color: var(--persian-green);
    border-style: double;
    font-weight: 600;
}

.bentota-third-first-item-container:hover h4,
.bentota-third-second-item-container:hover h4,
.bentota-third-third-item-container:hover h4{
    color: var(--persian-green);
}

.bentota-third-item-one,
.bentota-third-item-two,
.bentota-third-item-three {
    text-align: center;
}

.bentota-third-container img {
    display: none;
}

.bentota-third button {
    margin-top: 30px;
}

.bentota-third button:hover {
    background-color: var(--primary-black);
}

/*card*/
.box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    z-index: 1;
}

.box::before {
    content: ' ';
    position: absolute;
    /* top: 0; */
    /* left: 50px; */
    width: 60%;
    height: 600px;
    text-decoration: none;
    background: #fff;
    border-radius: 8px;
    /* transform: skewX(15deg); */
    transform: translateX(-50px);
    transition: 0.5s;
}

.box::after {
    content: '';
    position: absolute;
    /* top: 0; */
    left: 50px;
    width: 50%;
    height: 600px;
    background: #fff;
    border-radius: 8px;
    /* transform: skewX(15deg); */
    transform: translateX(-50px);
    transition: 0.5s;
    filter: blur(30px);
}

.box:hover:before,
.box:hover:after {
    transform: skewX(0deg) scaleX(1.3);
}

.box:before,
.box:after {
    background: linear-gradient(315deg, rgba(196, 232, 194, 1), rgb(62, 140, 143))
}

.box span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    pointer-events: none;
}

.box span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.1s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08)
}

.box span::before {
    top: -40px;
    left: 40px;
    width: 50px;
    height: 50px;
    opacity: 1;
    }

.box span::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    animation-delay: -1s;
}

.box span:after {
    bottom: -40px;
    right: 40px;
    width: 50px;
    height: 50px;
    opacity: 1;
}

.box .content {
    position: relative;
    height: 500px;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1;
    transform: 0.5s;
    color: var(--primary-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box .content h2 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
}
/*card*/

@media only screen and (max-width: 1141px){
    .bentota-third-item-container {
        flex-direction: column;
        max-width: 700px;
        row-gap: 100px;
    }
}

@media only screen and (max-width: 900px) {
    .bentota-third-item-one,
    .bentota-third-item-two,
    .bentota-third-item-three {
        text-align: center;
    }

    .bentota-third-container img {
        aspect-ratio: 1/1;
    }
}

@media only screen and (max-width: 640px) {
    .bentota-third-first-item-container,
    .bentota-third-second-item-container,
    .bentota-third-third-item-container{
        padding: 0;
        border: 0;
    }
}
/**************** bentota third section ****************/

/**************** bentota image section ****************/
.bentota-image{
    background-color: var(--primary-white);
    padding: 50px;
}

.bentota-image-container-one,
.bentota-image-container-two{
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 50px;
    gap: 50px;
    max-width: 980px;
}

.bentota-image-container-one{
    grid-template-columns: 21fr 9fr;
}

.bentota-image-container-two{
    grid-template-columns: 9fr 21fr;
}

.bentota-image-container-one img,
.bentota-image-container-two img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    border: none;
}

.bentota-image-container-one-img1,
.bentota-image-container-two-img2{
    aspect-ratio: 21/9;
}

.bentota-image-container-one-img2,
.bentota-image-container-two-img1{
    aspect-ratio: 1/1;
}

@media only screen and (max-width: 900px) {
    .bentota-image-container-two{
        display: none;
    }

    .bentota-image-container-one{
    grid-template-columns: 1fr;
    }

    .bentota-image-container-one-img2{
        aspect-ratio: 21/9;
    }
}

@media only screen and (max-width: 640px) {
    .bentota-image-container-two {
        display: none;
    }

    .bentota-image-container-one {
        grid-template-columns: 1fr;
    }

    .bentota-image-container-one-img1,
    .bentota-image-container-one-img2 {
        aspect-ratio: 1/1;
    }
}
/**************** bentota image section ****************/

/**************** bentota fourth section ****************/
.bentota-fourth {
    background: linear-gradient(315deg, rgba(196, 232, 194, 1), rgb(62, 140, 143));
}

.bentota-fourth-container h2 {
    color: var(--primary-black);
}

.bentota-fourth-container h3 {
    color: var(--primary-black);
    margin-bottom: 10px;
}

.bentota-fourth-container h4 {
    margin-bottom: 10px;
    font-weight: 400;
}

.bentota-fourth-container hr {
    background-color: var(--primary-black);
}

.bentota-fourth-container {
    text-align: center;
    margin:  0 auto;
    width: 100%;
    max-width: 1440px;
    padding: 50px;
    box-sizing: border-box;
}

.bentota-fourth-sub-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
}

.bentota-fourth-sub-item-one,
.bentota-fourth-sub-item-two,
.bentota-fourth-sub-item-three{
    width: 100%;
    border: 3px solid var(--primary-black);
    padding: 50px;
    transition: all 0.2s ease-in-out;
}

.bentota-fourth-sub-item-one:hover,
.bentota-fourth-sub-item-two:hover,
.bentota-fourth-sub-item-three:hover{
    transform: scale(0.95);
    border-color: var(--primary-white);
    border-style: double;
    font-weight: 600;
}

.bentota-fourth ul {
    padding-inline-start: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    list-style: none;
}

.bentota-fourth ul li a {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: rgb(46, 46, 46);

    transition: all 0.3s ease;
}

.bentota-fourth ul li a:hover {
    color: var(--primary-white);
}

@media only screen and (max-width: 1141px) {
    .bentota-fourth-sub-container {
        flex-direction: column;
        max-width: 700px;
        align-items: center;
        padding: 0 50px;
    }

    .bentota-fourth-sub-container h4{
        text-align: justify;
    }
}

@media only screen and (max-width: 640px) {
    .bentota-fourth-sub-item-one,
    .bentota-fourth-sub-item-two,
    .bentota-fourth-sub-item-three{
        padding: 0;
        border: 0;
    }

    .bentota-fourth-sub-container{
        padding: 0;
    }
}
/**************** bentota fourth section ****************/