:root {
    --primary-white: rgb(239, 239, 239);
    --primary-black: rgb(28, 27, 27);
    --primary-grey: rgb(106, 106, 106);
    --persian-green: rgb(62, 140, 143);
    --mint: rgba(107, 189, 153, 1);
    --celadon: rgba(174, 207, 164, 1);
    --tea-green: rgba(196, 232, 194, 1);
    --letter-space: 5px;
    --line-height: 28px;
    --title-margin-bottom: 50px;
    --title-font-size: 20px;

    --box-shadow-main: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.bentota-first hr {
    margin: 30px 0;
}

/**************** bentota first section ****************/
.bentota-first {
    background-color: var(--primary-white);
}

.bentota-first-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 980px;
    padding: 50px;
    margin: auto;
    box-sizing: border-box;
}

.bentota-first-image-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    padding: 0 50px 50px 50px;
    max-width: 980px;
    justify-items: center;
    text-align: center;
    align-items: center;
    margin: auto;
}

.bentota-first-image-container img {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    display: block;
}

@media only screen and (max-width: 900px) {
    .bentota-first-image-container {
        grid-template-columns: 1fr;
    }

    .bentota-first-image-container>img:nth-child(2),
    .bentota-first-image-container>img:nth-child(3) {
        display: none;
    }

    .bentota-first-image-container img {
        aspect-ratio: 21/9;
        max-width: initial;
    }
}

@media only screen and (max-width: 680px) {

    .bentota-first-image-container>img:nth-child(2),
    .bentota-first-image-container>img:nth-child(3) {
        display: none;
    }

    .bentota-first-image-container img {
        aspect-ratio: 1/1;
        max-width: 400px;
    }

    .bentota-first p {
        text-align: justify;
    }
}

/**************** bentota first section ****************/

/**************** bentota second section ****************/
.bentota-second {
    background-color: var(--primary-white);
}

.bentota-second-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 980px;
    padding: 50px;
    margin: auto;
    box-sizing: border-box;
}

.bentota-second-first-image-container,
.bentota-second-second-image-container,
.bentota-second-third-image-container {
    display: grid;
    gap: 50px;
    padding: 0 50px 50px 50px;
    max-width: 1140px;
    justify-items: center;
    text-align: center;
    align-items: center;
    margin: auto;
}

.bentota-second-first-image-container,
.bentota-second-third-image-container {
    grid-template-columns: 9fr 21fr;
}

.bentota-second-second-image-container {
    grid-template-columns: 21fr 9fr;
}

.bentota-second-first-image-container img,
.bentota-second-second-image-container img,
.bentota-second-third-image-container img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.bentota-second-first-image-container-one,
.bentota-second-second-image-container-two,
.bentota-second-third-image-container-one {
    aspect-ratio: 1/1;
}

.bentota-second-first-image-container-two,
.bentota-second-second-image-container-one,
.bentota-second-third-image-container-two {
    aspect-ratio: 21/9;
}

@media only screen and (max-width: 900px) {

    .bentota-second-first-image-container,
    .bentota-second-second-image-container {
        grid-template-columns: 1fr 1fr;
    }

    .bentota-second-first-image-container-two,
    .bentota-second-second-image-container-one {
        aspect-ratio: 1/1;
    }

    .bentota-second>div:nth-child(4) {
        display: none;
    }
}

@media only screen and (max-width: 680px) {

    .bentota-second-first-image-container,
    .bentota-second-second-image-container {
        grid-template-columns: 1fr;
    }

    .bentota-second-first-image-container-two,
    .bentota-second-second-image-container-one {
        aspect-ratio: 1/1;
    }

    .bentota-second-first-image-container img {
        max-width: 400px;
    }

    .bentota-second>div:nth-child(3),
    .bentota-second-first-image-container>img:nth-child(2) {
        display: none;
    }

    .bentota-second p {
        text-align: justify;
    }
}

/**************** bentota second section ****************/

/**************** bentota third section ****************/
.bentota-third {
    background-color: var(--persian-green);
}

.bentota-third-container,
.bentota-third-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 1120px;
    margin: auto;
    box-sizing: border-box;
}

.bentota-third-container {
    padding: 50px;
}

.bentota-third hr {
    background-color: var(--primary-black);
    margin: 30px 0 0 0;
}

.bentota-third-first-item-container,
.bentota-third-second-item-container,
.bentota-third-third-item-container,
.bentota-third-fourth-item-container {
    display: grid;
    gap: 80px;
    padding: 50px;
    align-items: center;
}


.bentota-third-first-item-container,
.bentota-third-third-item-container {
    grid-template-columns: 1fr 1fr;
}

.bentota-third-second-item-container,
.bentota-third-fourth-item-container {
    grid-template-columns: 1fr 1fr;
}

.bentota-third-item-one,
.bentota-third-item-two,
.bentota-third-item-three,
.bentota-third-item-four {
    text-align: justify;
}

.bentota-third-item-one h4,
.bentota-third-item-two h4,
.bentota-third-item-three h4,
.bentota-third-item-four h4 {
    color: var(--primary-white);
}

.bentota-third-container img {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    display: block;
}

.bentota-third button {
    margin-top: 30px;
}

.bentota-third button:hover {
    background-color: var(--primary-black);
}

@media only screen and (max-width: 900px) {

    .bentota-third-first-item-container,
    .bentota-third-third-item-container,
    .bentota-third-second-item-container,
    .bentota-third-fourth-item-container {
        display: flex;
        padding: 50px 0;
        justify-items: center;
        gap: 50px;
    }

    .bentota-third-first-item-container,
    .bentota-third-third-item-container {
        flex-direction: column;
    }

    .bentota-third-second-item-container,
    .bentota-third-fourth-item-container {
        flex-direction: column-reverse;
    }

    .bentota-third-item-one,
    .bentota-third-item-two,
    .bentota-third-item-three,
    .bentota-third-item-four {
        text-align: center;
    }

    .bentota-third-item-one p,
    .bentota-third-item-two p,
    .bentota-third-item-three p,
    .bentota-third-item-four p {
        text-align: justify;
    }

    .bentota-third-container img {
        aspect-ratio: 21/9;
        max-width: initial;
    }
}

@media only screen and (max-width: 680px) {
    .bentota-third-container img {
        aspect-ratio: 1/1;
        max-width: 400px;
    }
}

/**************** bentota third section ****************/

/**************** bentota fourth section ****************/
.bentota-fourth {
    background-color: var(--primary-white);
}

.bentota-fourth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    padding: 50px;
    width: 100%;
    max-width: 980px;
    margin: auto;
    padding: 50;
    box-sizing: border-box;
}

.bentota-fourth-container h2 {
    color: var(--primary-black);
}

.bentota-fourth-container h3 {
    color: var(--primary-black);
    margin-bottom: 10px;
}

.bentota-fourth-container h4 {
    margin-bottom: 10px;
    font-weight: 400;
}

.bentota-fourth-container hr {
    background-color: var(--primary-black);
}

.bentota-fourth ul {
    padding-inline-start: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    list-style: none;
}

.bentota-fourth ul li a {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: rgb(46, 46, 46);

    transition: all 0.3s ease;
}

.bentota-fourth ul li a:hover {
    color: var(--persian-green);
}

.threat-outro-list-item,
.threat-other-list-item {
    display: flex;
    flex-direction: column;
}

/**************** bentota fourth section ****************/