:root {
    --primary-white: rgb(239, 239, 239);
    --primary-black: rgb(28, 27, 27);
    --primary-grey: rgb(106, 106, 106);
    --persian-green: rgb(62, 140, 143);
    --mint: rgba(107, 189, 153, 1);
    --celadon: rgba(174, 207, 164, 1);
    --tea-green: rgba(196, 232, 194, 1);
    --letter-space: 5px;
    --line-height: 28px;
    --title-margin-bottom: 50px;
    --title-font-size: 20px;

    --box-shadow-main: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**************** gallery main section ****************/
.gallery-main{
    background: var(--primary-white);
}

.gallery-main-container{
    padding: 7px;
    padding-top: 60px;
    display: grid;
    gap: 7px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
    transition: all 0.5s ease-in-out;
}

.gallery-main-container > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

.gallery-main-container > div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
}

.gallery-main-container .small{
    grid-column: span 1;
    grid-row: span 1;
}

.gallery-main-container .wide{
    grid-column: span 2;
}

.gallery-main-container .tall {
    grid-row: span 2;
}

.gallery-main-container .big {
    grid-column: span 2;
    grid-row: span 2;
}

.gallery-main-container img{
    transition: transform 0.15s ease-out;
}

.gallery-main-container img:hover{
    transform: scale(0.98);
    cursor: pointer;
}

@media only screen and (max-width: 1050px){
    .gallery-main-container{
        padding-top: 110px;
    }
}

@media only screen and (max-width: 320px) {
    .gallery-main-container{
        grid-template-columns: 1fr;
    }

    .gallery-main-container .wide,
    .gallery-main-container .tall,
    .gallery-main-container .big{
        grid-column: initial;
        grid-row: initial;
    }
}

@media only screen and (max-width: 700px) {
    .gallery-main-container {
        padding-top: 60px;
    }
}
/**************** gallery main section ****************/
