:root {
    --primary-white: rgb(239, 239, 239);
    --primary-black: rgb(28, 27, 27);
    --primary-grey: rgb(106, 106, 106);
    --persian-green: rgb(62, 140, 143);
    --mint: rgba(107, 189, 153, 1);
    --celadon: rgba(174, 207, 164, 1);
    --tea-green: rgba(196, 232, 194, 1);
    --letter-space: 5px;
    --line-height: 28px;
    --title-margin-bottom: 50px;
    --title-font-size: 20px;

    --box-shadow-main: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.kosgoda-first hr{
    margin: 30px 0;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 17px;
}

p {
    font-size: 16px;
    text-align: justify;
}

@media only screen and (max-width: 800px) {
    p {
        font-size: 14px;
    }
}

/**************** kosgoda first section ****************/
.kosgoda-first{
    background-color: var(--primary-white);
}

.kosgoda-first-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 980px;
    padding: 50px;
    margin: auto;
    box-sizing: border-box;
}

.kosgoda-first-image-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    padding: 0 50px 50px 50px;
    max-width: 980px;
    justify-items: center;
    text-align: center;
    align-items: center;
    margin: auto;
}

.kosgoda-first-image-container img{
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    display: block;
}

@media only screen and (max-width: 900px) {
    .kosgoda-first-image-container {
        grid-template-columns: 1fr;
    }

    .kosgoda-first-image-container > img:nth-child(2),
    .kosgoda-first-image-container > img:nth-child(3) {
        display: none;
    }   

    .kosgoda-first-image-container img{
        aspect-ratio: 21/9;
        max-width: initial;
    }
}

@media only screen and (max-width: 680px) {
    .kosgoda-first-image-container>img:nth-child(2),
    .kosgoda-first-image-container>img:nth-child(3) {
        display: none;
    }

    .kosgoda-first-image-container img {
        aspect-ratio: 1/1;
        max-width: 400px;
    }

    .kosgoda-first p{
        text-align: justify;
    }
}
/**************** kosgoda first section ****************/

/**************** kosgoda second section ****************/
.kosgoda-second {
    background-color: var(--primary-white);
}

.kosgoda-second-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 980px;
    padding: 50px;
    margin: auto;
    box-sizing: border-box;
}

.kosgoda-second-first-image-container,
.kosgoda-second-second-image-container,
.kosgoda-second-third-image-container {
    display: grid;
    gap: 50px;
    padding: 0 50px 50px 50px;
    max-width: 1140px;
    justify-items: center;
    text-align: center;
    align-items: center;
    margin: auto;
}

.kosgoda-second-first-image-container{
    grid-template-columns: 9fr 21fr;
}

.kosgoda-second-second-image-container{
    grid-template-columns: 21fr 9fr;
}

.kosgoda-second-first-image-container img,
.kosgoda-second-second-image-container img,
.kosgoda-second-first-image-container iframe {
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.kosgoda-second-first-image-container iframe{
    border: 0;
    aspect-ratio: 21/9;
}

.kosgoda-second-first-image-container-one,
.kosgoda-second-second-image-container-two{
    aspect-ratio: 1/1;
}

.kosgoda-second-first-image-container-two,
.kosgoda-second-second-image-container-one{
    aspect-ratio: 21/9;
}

@media only screen and (max-width: 900px) {
    .kosgoda-second-first-image-container,
    .kosgoda-second-second-image-container{
        grid-template-columns: 1fr 1fr;
    }

    .kosgoda-second-first-image-container-two,
    .kosgoda-second-second-image-container-one{
        aspect-ratio: 1/1;
    }

    .kosgoda-second>div:nth-child(4){
        display: none;
    }

    .kosgoda-second-first-image-container iframe{
        aspect-ratio: 1/1;
        max-width: 400px;
    }
}

@media only screen and (max-width: 680px) {

    .kosgoda-second-first-image-container,
    .kosgoda-second-second-image-container {
        grid-template-columns: 1fr;
    }

    .kosgoda-second-first-image-container-two,
    .kosgoda-second-second-image-container-one {
        aspect-ratio: 1/1;
    }

    .kosgoda-second-first-image-container img{
        max-width: 400px;
    }

    .kosgoda-second>div:nth-child(3),
    .kosgoda-second-first-image-container>img:nth-child(2){
        display: none;
    }

    .kosgoda-second p{
        text-align: justify;
    }
}
/**************** kosgoda second section ****************/

/**************** kosgoda third section ****************/
.kosgoda-third {
    background-color: var(--persian-green);
}

.kosgoda-third-container,
.kosgoda-third-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 1120px;
    margin: auto;
    box-sizing: border-box;
}

.kosgoda-third-container{
    padding: 50px;
}

.kosgoda-third hr{
    background-color: var(--primary-black);
    margin: 30px 0 0 0;
}

.kosgoda-third-first-item-container,
.kosgoda-third-second-item-container,
.kosgoda-third-third-item-container,
.kosgoda-third-fourth-item-container{
    display: grid;
    gap: 80px;
    padding: 50px;
    align-items: center;
}


.kosgoda-third-first-item-container,
.kosgoda-third-third-item-container{
    grid-template-columns: 1fr 1fr;
}

.kosgoda-third-second-item-container,
.kosgoda-third-fourth-item-container{
    grid-template-columns: 1fr 1fr;
}

.kosgoda-third-item-one,
.kosgoda-third-item-two,
.kosgoda-third-item-three,
.kosgoda-third-item-four{
    text-align: justify;
}

.kosgoda-third-item-one h4,
.kosgoda-third-item-two h4,
.kosgoda-third-item-three h4,
.kosgoda-third-item-four h4{
    color: var(--primary-white);
}

.kosgoda-third-container img {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    display: block;
}

.kosgoda-third button{
    margin-top: 30px;
}

.kosgoda-third button:hover {
    background-color: var(--primary-black);
}

@media only screen and (max-width: 900px) {
    .kosgoda-third-first-item-container,
    .kosgoda-third-third-item-container,
    .kosgoda-third-second-item-container,
    .kosgoda-third-fourth-item-container{
        display: flex;
        padding: 50px 0;
        justify-items: center;
        gap: 50px;
    }

    .kosgoda-third-first-item-container,
    .kosgoda-third-third-item-container {
        flex-direction: column;
    }
        
    .kosgoda-third-second-item-container,
    .kosgoda-third-fourth-item-container{
        flex-direction: column-reverse;
    }

    .kosgoda-third-item-one,
    .kosgoda-third-item-two,
    .kosgoda-third-item-three,
    .kosgoda-third-item-four{
        text-align: center;
    }

    .kosgoda-third-item-one p,
    .kosgoda-third-item-two p,
    .kosgoda-third-item-three p,
    .kosgoda-third-item-four p{
        text-align: justify;
    }

    .kosgoda-third-container img{
        aspect-ratio: 21/9;
        max-width: initial;
    }
}

@media only screen and (max-width: 680px){
    .kosgoda-third-container img{
        aspect-ratio: 1/1;
        max-width: 400px;
    }
}
/**************** kosgoda third section ****************/

/**************** kosgoda fourth section ****************/
.kosgoda-fourth {
    background-color: var(--primary-white);
}

.kosgoda-fourth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    padding: 50px;
    width: 100%;
    max-width: 980px;
    margin: auto;
    padding: 50;
    box-sizing: border-box;
}

.kosgoda-fourth-container h2 {
    color: var(--primary-black);
}

.kosgoda-fourth-container h3 {
    color: var(--primary-black);
    margin-bottom: 10px;
}

.kosgoda-fourth-container h4 {
    margin-bottom: 10px;
    font-weight: 400;
}

.kosgoda-fourth-container hr {
    background-color: var(--primary-black);
}

.kosgoda-fourth ul {
    padding-inline-start: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    list-style: none;
}

.kosgoda-fourth ul li a {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: rgb(46, 46, 46);

    transition: all 0.3s ease;
}

.kosgoda-fourth ul li a:hover {
    color: var(--persian-green);
}
/**************** kosgoda fourth section ****************/