:root {
    --primary-white: rgb(239, 239, 239);
    --primary-black: rgb(28, 27, 27);
    --primary-grey: rgb(106, 106, 106);
    --persian-green: rgb(62, 140, 143);
    --mint: rgba(107, 189, 153, 1);
    --celadon: rgba(174, 207, 164, 1);
    --tea-green: rgba(196, 232, 194, 1);
    --letter-space: 5px;
    --line-height: 28px;
    --title-margin-bottom: 50px;
    --title-font-size: 20px;

    --box-shadow-main: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

/**************** main viewport ****************/
.ticket-main-viewport {
    background-color: var(--primary-black);
    position: relative;
    border: none;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20Vh;
    margin-top: auto;
}

.ticket-main-viewport::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.ticket-main-viewport-image {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    display: block;
}

.ticket-main-viewport-image-container{
    flex-shrink: 0;
    width: 100%;
}

.ticket-main-viewport-header {
    position: absolute;
    color: var(--primary-white);
    z-index: 1;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    align-items: center;
    /* margin-top: 10%; */
}

.ticket-main-viewport-header-text span{
    text-transform: capitalize;
}

.ticket-main-viewport-header h2 {
    letter-spacing: 10px;
    font-size: 50px;
    text-transform: uppercase;
    margin-top: 0;
    transition: 0.7s ease-in-out;
    transition: letter-spacing 0.3s ease-in-out;
}

.ticket-main-viewport-header ol {
    color: #ffffff;
    z-index: 1;
    position: absolute;
    bottom: 28px;
    display: block;
}

.scroll-btn {
    border: none;
    bottom: 300px;
    padding: 10px 50px;
    margin-top: 10px;
    background-color: rgba(239, 239, 239, 0.9);
    color: rgba(239, 239, 239, 0.9);
    font-size: 16px;
    text-align: center;
    border-radius: 0;
    cursor: pointer;
    z-index: 1;
    border-radius: 0px;

    background-clip: padding-box;

    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease;
}

.scroll-btn:hover {
    border-radius: 50px;
}

.scroll-btn img {
    width: 20px;
    vertical-align: middle;
    display: inline-block;
    transition: all 0.3s ease;
}

.scroll-btn:hover img {
    animation: vanish 0.8s forwards infinite;
}

@keyframes vanish {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    50% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/* @media screen and (max-width: 1140px) {
    .ticket-main-viewport-header {
        margin-top: 25%;
    }
} */

@media screen and (max-width: 640px) {
    /* .ticket-main-viewport-header {
        margin-top: 25%;
    } */

    .ticket-main-viewport-header h2 {
        font-size: 30px;
    }
}

@media screen and (min-width: 641px) {
    .ticket-main-viewport-header h2:hover {
        letter-spacing: 20px;
    }
}
/**************** main viewport ****************/

/**************** ticket page: main section ****************/
.ticket-first-main-section{
    background-color: var(--primary-white);
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 50px;
    justify-content: center;
    align-items: center;
}
/**************** ticket page: main section ****************/

/**************** ticket page: date section ****************/
.ticket-date-main-wrapper{
    background-color: var(--persian-green);
    max-width: 450px;
    border-radius: 10px;
}

.ticket-date-calendar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px 10px;
}

.ticket-date-calendar-header .current-date{
    font-size: 1.45rem;
    font-weight: 600;
}

.ticket-date-calendar-header .icons span{
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    font-size: 1.9rem;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    transition: 0.15s ease;
    color: var(--primary-white);
}

.ticket-date-calendar-header .icons span:hover{
    background: var(--primary-white);
    color: var(--primary-black);
    box-shadow: 0 0 20px 0px rgba(239, 239, 239, 0.7);
}

.ticket-date-calendar-body{
    padding: 20px;
}

.ticket-date-calendar-body ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
    padding-left: 0;
}

.ticket-date-calendar-body .days{
    margin-bottom: 20px;
}

.ticket-date-calendar-body .weeks li{
    font-weight: 600;
}

.ticket-date-calendar-body ul li{
    position: relative;
    width: calc(100% / 7);
    
}

.ticket-date-calendar-body .days li{
    z-index: 1;
    cursor: pointer;
    margin-top: 30px;
}

.days{
    align-items: center;
}

.days .clicked{
    animation: fontSize 0.3s forwards;
}


@keyframes fontSize {
    0% {
        font-size: 16px;
    }

    50% {
        font-size: 10px;
    }

    100% {
        font-size: 16px;
    }
}

.days li.inactive-prev{
    color:rgb(92, 92, 92);
}

.days li.inactive-next{
    color:rgb(92, 92, 92);
}

.days li.active{
    color: var(--primary-white);
}

.days li {
    animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.ticket-date-calendar-body .days li::before{
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: 0.15s ease;
}

.days li:hover::before{
    background: var(--primary-white);
    box-shadow: 0 0 20px 0px rgba(239, 239, 239, 0.7);
}

.days .clicked::before{
    background: var(--celadon);
    box-shadow: 0 0 20px 0px rgba(174, 207, 164, 0.7);
}

.ticket-date-calendar-body hr{
    height: 2.5px;
    background-color: var(--primary-black);
    border: none;
    border-radius: 100px;
    margin: 40px auto 20px;
    width: 250px;
    position: relative;
}

.ticket-date-calendar-time{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ticket-date-calendar-time.js-calendear-time {
    color: transparent;
    font-size: 20px;
    position: relative;
    animation: glowing 1s ease infinite;
    color:var(--primary-white);
}
  
@keyframes glowing {
    0% {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
    }
    50% {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    }
    100% {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.4); /* Back to the initial glow */
    }
}
/**************** ticket page: date section ****************/

/**************** ticket page: count section ****************/
.ticket-coounter-dropdown-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ticket-count-main-container{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: var(--primary-white);
    padding-bottom: 50px;
}

.ticket-count-main-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ticket-count-category{
    margin-right: 40px;
    width: 200px;
    text-align: left;
}

.category-tag{
    font-size: 13px;
    color: var(--primary-grey);
}

.ticket-count-counter .count-number {
    width: 40px;
    text-align: center;
  }

.ticket-count-counter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ticket-count-main-wrapper .material-symbols-rounded{
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    transition: 0.15s ease;
    color: var(--primary-black);
    background: var(--persian-green);
}

.ticket-count-main-wrapper .material-symbols-rounded:hover{
    box-shadow: 0 0 20px 0px rgba(62, 140, 143, 0.7);
}

.ticket-count-main-wrapper .reset-icon{
    height: 30px;
    width: 30px;
    margin: 0 8px;
    cursor: pointer;
    font-size: 1.3rem;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    transition: 0.15s ease;
    color: var(--primary-black);
    background: var(--persian-green);
}
/**************** ticket page: count section ****************/

/**************** ticket page: time slot section ****************/
.ticket-counter-and-time-slots-container{
    background-color: var(--primary-white);
    display: flex;
    justify-content: center;
    column-gap: 100px;
    flex-wrap: wrap;
    padding: 0 50px 50px;
}

.ticket-duration-main-container{
    display: flex;
    justify-content: center;
    border-radius: 8px;
}

.multiselect {
    position: relative;
    width: 350px;
    margin: 10px;
}

.select-box {
    background-color: var(--persian-green);
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: 0.15s ease;
}

.select-box:hover{
    box-shadow: 0 0 20px 0px rgba(62, 140, 143, 0.7);
}

.selected-text {
    flex: 1;
}

.fa {
    margin-left: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 280px;
    overflow-y: auto;
    background-color: #fff;
}

.dropdown-content::-webkit-scrollbar {
    width: 11px;
}

.dropdown-content::-webkit-scrollbar-thumb {
    background-color: #8d8d8d;
    border-radius: 20px;
    border: 3px solid #fff;
    background-clip: content-box;
}

.dropdown-content::-webkit-scrollbar-track {
    background-color: transparent;
}

.dropdown-content label {
    display: block;
    padding: 5px 10px;
}

.dropdown-content label:hover {
    background-color: #f2f2f2;
}

.checkbox-label {
    display: inline-flex;
    align-items: center;
}
  
.time-slot {
    margin-right: 10px;
}

.checkbox-content {
    padding-left: 5px;
}
/**************** ticket page: time slot section ****************/

/**************** ticket page: duration section ****************/
.table-section{
    background-color: var(--primary-white);
    font-size: 0.9rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 0;
    width: 100%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    max-width: 500px;
}

.table-count-price-td{
    text-align: center;
}

table td {
    text-align: left;
    padding: 1em;
}

table tr {
    padding: 0.45em;
    transition: all 0.3s ease;
}

thead tr{
    color: var(--persian-green);
}

tbody tr:nth-child(odd) {
    background-color: rgb(223, 223, 223);
}

tbody .middle-title:nth-child(odd) {
    background-color: var(--persian-green);
}

.middle-title,
tfoot td{
    background-color: var(--persian-green);
    color: var(--primary-white);
}

.js-table-no-categories{
    display: none;
}

.table-category-fade-in{
    animation: category-fade-in 0.5s ease-in-out;
}

@keyframes category-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 400px){
    table {
        margin: 30px;
    }

    .multiselect {
        width: 250px;
    }
}

/* @media only screen and (max-width: 400px) {
    .table-section{
        padding: 10px;
    }

    table{
        border: 3px solid rgb(26, 26, 26);
    }

    table thead tr{
        display: none;
    }

    table tr{
        display: block;
    }

    table td{
        padding: .5em;
    }

    table td{
        text-align: left;
        display: block;
    }

    table td:before{
        content: attr(data-title) "\00A0 : \00A0";
        float: left;
    }

    tbody tr:nth-child(even){
        background-color: var(--persian-green);
        color: var(--primary-white);
    }

    table td {
        max-width: 100%;
    }
} */
/**************** ticket page: duration section ****************/

/**************** ticket page: confirm-button ****************/
.confirm-button-main-conatainer{
    background-color: var(--primary-white);
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
}

.confirm-button {
    border: none;
    background-color: var(--primary-black);
    color: var(--primary-white);
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.3s ease, background-color 0.3s ease;
}

.confirm-button:disabled,
.confirm-button:disabled:hover {
    background-color: rgb(133, 133, 133);
    color: var(--primary-white);
}

.confirm-button a {
    color: var(--primary-white);
}

.confirm-button:hover {
    background-color: var(--persian-green);
    border-radius: 50px;
}

.confirm-button:active {
    transform: scale(0.95);
}

.confirm-button span {
    vertical-align: middle;
    display: inline-block;
    transition: all 0.3s ease;
}

.confirm-button:hover span {
    animation: vanish 0.5s forwards;
}
/**************** ticket page: confirm-button ****************/

/**************** ## ****************/
/**************** ## ****************/

/**************** details page: first section ****************/
.details-page-first-section-main-container{
    background-color: var(--primary-white);
    padding: 50px;
    display: flex;
    column-gap: 100px;
    justify-content: center;
    align-items: center;
}

.details-form-container{
    padding: 50px;
    text-align: center;
}

.details-form hr{
    background-color: var(--primary-black);
}

.form-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 50px 0;
    width: 100%;
}

.details-form-inputbox{
    position: relative;
    min-width: 250px;
    width: 100%;
}

.main-user-info,
.address-info,
.payment-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.details-form-inputbox input{
    /* width: 100%; */
    width: 350px;
    padding: 10px;
    border: 1px solid var(--persian-green);
    background: var(--primary-white);
    border-radius: 3px;
    outline: none;
    color: var(--primary-black);
    font-size: 1em;
    transition: 0.3s ease-out;
}

.details-form-inputbox span{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: var(--primary-white);
    text-transform: uppercase;
    transition: 0.3s ease-out;
}

.details-form-inputbox input ~ span{
    transform: translateX(10px) translateY(-50px);
    font-size: 0.65em;
    padding: 0 10px;
    background: var(--persian-green);
    border-left: 1px solid var(--primary-white);
    letter-spacing: 0.2em;
}

.details-form-inputbox input:valid ~ span,
.details-form-inputbox input:focus ~ span {
    background: var(--persian-green);
    color: var(--primary-white);
    border-radius: 2px;
}

.details-form-inputbox input:valid,
.details-form-inputbox input:focus{
    border: 1.5px solid var(--primary-black);
}

.details-form-inputbox.success input{
    border-color: var(--persian-green);
}

.details-form-inputbox.error input{
    border-color: rgb(139, 0, 0);
}

.details-form-inputbox .error{
    color: rgb(139, 0, 0);
    font-size: 9px;
    height: 13px;
}

.details-form-inputbox.error input ~ span{
    background: rgb(139, 0, 0);
}

.details-form-inputbox.success input ~ span{
    background: var(--persian-green);
}

.my-input::placeholder{
    color: transparent;
}

.my-input:focus::placeholder {
    color: rgb(85, 85, 85);
}

.gender-details-info{
    margin: 0;
    width: 100%;
}

.gender-details-info span{
    color: var(--primary-white);
}

.gender-category{
    border: 1px solid var(--primary-white);
    border-radius: 3px;
    padding: 10px;
    color: var(--primary-white);
}

.form-buttons{
    display: flex;
    gap: 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.button-for-all-2 {
    border: none;
    background-color: var(--primary-black);
    color: var(--primary-white);
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.3s ease, background-color 0.3s ease;
}

.button-for-all-2:hover {
    background-color: var(--primary-black);
    border-radius: 50px;
}

.button-for-all-2:active {
    transform: scale(0.95);
}

@media only screen and (max-width:948px) {
    .payment-info {
        width: 100%;
    }
}

@media only screen and (max-width:648px){
    .main-user-info,
    .address-info,
    .payment-info{
        width: 100%;
    }
}

.flag-selecctor{
    width: 350px;
    height: 0;
    z-index: 1;
    margin-bottom: 50px;
}

#flagSelectField{
    width: 100%;
    padding: 10px 20px;
    text-align: left;
    box-sizing: border-box;
    background: var(--primary-white);
    border: 1.5px solid var(--persian-green);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

#flag-list{
    /* width: 100%; */
    background: var(--primary-white);
    border: 1.5px solid var(--persian-green);
    border-radius: 5px;
    overflow: hidden;
    padding: 0;

    max-height: 200px;
    overflow-y: auto;
    margin-top: 5px;
}

#flag-list::-webkit-scrollbar {
    width: 11px;
}

#flag-list::-webkit-scrollbar-thumb {
    background-color: var(--persian-green);
    border-radius: 20px;
    border: 2px solid var(--primary-white);
    background-clip: content-box;
}

#flag-list::-webkit-scrollbar-track {
    background-color: transparent;
}

.flag-options{
    width: 100%;
    padding: 10px 0 10px 70px;
    list-style: none;
    cursor: pointer;
    box-sizing: border-box;
    text-align: left;
    position: relative;
    display: flex;
    column-gap: 10px;
}

.flag-options img{
    width: 25px;
    position: absolute;
    top: 35%;
    left: 25px;
}

.flag-options:hover{
    background: var(--tea-green);
}

.hide-flag-list {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s 0.5s;
}

.show-flag-list {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s, visibility 0s;
}

.rotate-arrow{
    transform: rotate(180deg);
}

.js-flag-arrow{
    transition: transform 0.5s;
}

.gender-list{
    display: flex;
    justify-content: center;
}

.custom-dropdown {
    width: 350px;
    height: 0;
    z-index: 1;
    margin-bottom: 50px;
}

.dropdown-header {
    width: 100%;
    padding: 10px 20px;
    text-align: left;
    box-sizing: border-box;
    background: var(--primary-white);
    border: 1.5px solid var(--persian-green);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.dropdown-list {
    background: var(--primary-white);
    border: 1.5px solid var(--persian-green);
    border-radius: 5px;
    overflow: hidden;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 5px;
}

.dropdown-list::-webkit-scrollbar {
    width: 11px;
}

.dropdown-list::-webkit-scrollbar-thumb {
    background-color: var(--persian-green);
    border-radius: 20px;
    border: 2px solid var(--primary-white);
    background-clip: content-box;
}

.dropdown-list::-webkit-scrollbar-track {
    background-color: transparent;
}

.dropdown-option {
    width: 100%;
    padding: 10px 0 10px 20px;
    list-style: none;
    cursor: pointer;
    box-sizing: border-box;
    text-align: left;
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.dropdown-option:hover {
    background: var(--tea-green);
}

.hide-dropdown-list {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s 0.5s;
}

.show-dropdown-list {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s, visibility 0s;
}
/**************** details page: first section ****************/

