:root {
    --primary-white: rgb(239, 239, 239);
    --primary-black: rgb(28, 27, 27);
    --primary-grey: rgb(106, 106, 106);
    --persian-green: rgb(62, 140, 143);
    --mint: rgba(107, 189, 153, 1);
    --celadon: rgba(174, 207, 164, 1);
    --tea-green: rgba(196, 232, 194, 1);
    --letter-space: 5px;
    --line-height: 28px;
    --title-margin-bottom: 50px;
    --title-font-size: 20px;

    --box-shadow-main: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

/**************** categories first section ****************/
.categories-first-section,
.categories-first-section-2{
    background-color: var(--primary-white);
    padding: 50px;
    font-size: 0.9rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories-first-section-2{
    padding-top: 0;
}

.categories-first-section-item{
    display: flex;
    gap: 60px;
    justify-content: center;
}

.categories-first-section-item img,
.categories-first-section-item iframe {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    display: block;
    box-shadow: var(--box-shadow-main);
}

.categories-first-section-item iframe {
    border: 0;
}

.categories-first-section-item-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.categories-first-section-item h2, 
.categories-first-section-item h3{
    text-align: center;
    color: var(--primary-black);
}

.categories-first-section-item h2{
    font-size: 18px;
}

.categories-first-section-item h3{
    font-size: 16px;
}

.categories-first-section-description{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 800px;
    font-size: 16px;
}
/**************** categories first section ****************/

/**************** categories second section ****************/
.categories-second-section,
.categories-second-section-2 {
    background-color: var(--persian-green);
    color: var(--primary-white);
    padding: 50px;
    font-size: 0.9rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories-second-section-2{
    padding-top: 0;
}

.categories-second-section-item {
    display: flex;
    gap: 60px;
    justify-content: center;
}

.categories-second-section-item img,
.categories-second-section-item iframe {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    display: block;
    box-shadow: var(--box-shadow-main);
}

.categories-second-section-item iframe {
    border: 0;
}

.categories-second-section-item-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.categories-second-section-item h2,
.categories-second-section-item h3 {
    text-align: center;
    color: var(--primary-black);
}

.categories-second-section-item h2 {
    font-size: 18px;
}

.categories-second-section-item h3 {
    font-size: 16px;
}

.categories-second-section-2 hr{
    background-color: var(--primary-black);
}

.categories-second-section-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 800px;
    font-size: 16px;
}
/**************** categories second section ****************/

/**************** categories third section ****************/
.categories-third-section,
.categories-third-section-2 {
    background-color: var(--primary-white);
    padding: 50px;
    font-size: 0.9rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories-third-section-2 {
    padding-top: 0;
}

.categories-third-section-item {
    display: flex;
    gap: 60px;
    justify-content: center;
}

.categories-third-section-item img,
.categories-third-section-item iframe{
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    display: block;
    box-shadow: var(--box-shadow-main);
}

.categories-third-section-item iframe {
    border: 0;
}

.categories-third-section-item-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    max-width: 400px;
    width: 400px;
}

.categories-third-section-item h2,
.categories-third-section-item h3 {
    text-align: center;
    color: var(--primary-black);
}

.categories-third-section-item h2 {
    font-size: 18px;
}

.categories-third-section-item h3 {
    font-size: 16px;
}

.categories-third-section-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 800px;
    font-size: 16px;
}
/**************** categories third section ****************/

/**************** categories fourth section ****************/
.categories-fourth-section,
.categories-fourth-section-2 {
    background-color: var(--persian-green);
    color: var(--primary-white);
    padding: 50px;
    font-size: 0.9rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories-fourth-section-2 {
    padding-top: 0;
}

.categories-fourth-section-item {
    display: flex;
    gap: 60px;
    justify-content: center;
}

.categories-fourth-section-item img,
.categories-fourth-section-item iframe {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    display: block;
    box-shadow: var(--box-shadow-main);
}

.categories-fourth-section-item iframe {
    border: 0;
}

.categories-fourth-section-item-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.categories-fourth-section-item h2,
.categories-fourth-section-item h3 {
    text-align: center;
    color: var(--primary-black);
}

.categories-fourth-section-item h2 {
    font-size: 18px;
}

.categories-fourth-section-item h3 {
    font-size: 16px;
}

.categories-fourth-section-2 hr {
    background-color: var(--primary-black);
}

.categories-fourth-section-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 800px;
    font-size: 16px;
}
/**************** categories fourth section ****************/

/**************** categories fifth section ****************/
.categories-fifth-section,
.categories-fifth-section-2 {
    background-color: var(--primary-white);
    padding: 50px;
    font-size: 0.9rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories-fifth-section-2 {
    padding-top: 0;
}

.categories-fifth-section-item {
    display: flex;
    gap: 60px;
    justify-content: center;
}

.categories-fifth-section-item img,
.categories-fifth-section-item iframe {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    display: block;
    box-shadow: var(--box-shadow-main);
}

.categories-fifth-section-item iframe {
    border: 0;
}

.categories-fifth-section-item-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    max-width: 400px;
    width: 400px;
}

.categories-fifth-section-item h2,
.categories-fifth-section-item h3 {
    text-align: center;
    color: var(--primary-black);
}

.categories-fifth-section-item h2 {
    font-size: 18px;
}

.categories-fifth-section-item h3 {
    font-size: 16px;
}

.categories-fifth-section-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 800px;
    font-size: 16px;
}

/**************** categories fifth section ****************/

/**************** common ****************/
@media only screen and (max-width: 1141px) {
    .categories-first-section-container,
    .categories-second-section-container,
    .categories-third-section-container,
    .categories-fourth-section-container,
    .categories-fifth-section-container {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .categories-first-section-item,
    .categories-second-section-item,
    .categories-third-section-item,
    .categories-fourth-section-item,
    .categories-fifth-section-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .categories-first-section-item-description,
    .categories-second-section-item-description,
    .categories-third-section-item-description,
    .categories-fourth-section-item-description,
    .categories-fifth-section-item-description {
        max-width: 100%;
        width: 100%;
    }
}
/**************** common ****************/

/**************** categories third section ****************/
.table-section{
    background-color: var(--primary-white);
    padding: 50px 200px;
    font-size: 0.9rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 0;
    width: 100%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.main-table{
    max-width: 990px;
}

table th,
table td {
    text-align: center;
    padding: 1em;
    max-width: 100px;
}

table tr {
    padding: 0.45em;
    transition: all 0.3s ease;
}

thead tr{
    color: var(--persian-green);
}

tbody tr:nth-child(odd) {
    background-color: rgb(223, 223, 223);
}

tfoot td {
    background-color: var(--persian-green);
    color: var(--primary-white);
}

@media only screen and (max-width: 800px) {
    .table-section{
        padding: 10px;
    }

    table{
        border: 3px solid rgb(26, 26, 26);
    }

    table thead tr{
        display: none;
    }

    table tr{
        display: block;
    }

    table th, table td{
        padding: .5em;
    }

    table td{
        text-align: left;
        display: block;
    }

    table td:before{
        content: attr(data-title) "\00A0 : \00A0";
        float: left;
    }

    tbody tr:nth-child(even){
        background-color: var(--persian-green);
        color: var(--primary-white);
    }

    table th,
    table td {
        max-width: 100%;
    }
}
/**************** categories third section ****************/